/* This gets rid of ugly white margins that are there by default */
body,
html {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif
}

.header {
  width: 100%;
  background: #3c00bc;
  background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%);

}

.header__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 10 20px;
  max-width: 1200px;
}

@media screen and (min-width: 433px) {
  .header__inner {
    justify-content: space-between;
    padding: 10px 20px;
  }
}

.header__logo {
  color: white;
  margin: 0 10 10;
  font-size: 24px;
}

@media screen and (min-width: 433px) {
  .header__logo {
    margin: 0 9 0 0;
  }
}

.header__btnGrp {
  display: flex;
  gap: 10px;
}

/*This is what all buttons have in common*/
.header__button {
  padding: 10px 15px;
  border-radius: 15px;
  border: 0;
  font: 16px Arial;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*These styles are for the specific buttons*/
.header__button--submit {
  background: orange;
}

.header__button--signIn {
  background: #00b719;
  color: white;
}

/*GENERAL*/
.mainContainer {
  margin: auto;
}

/*SEARCH*/

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  background-color: #e8eaf6;
}

.search__title {
  margin: 21.4px 0 20px;
  font-size: 32px;
  text-align: center;
}

.search__wrapper {
  position: relative;
  max-width: 350px;
  width: 100%
}

.search__input {
  padding: 10px 60px 10px 20px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid lightgray;
}

.search__searchIcon {
  position: absolute;
  top: 5px;
  right: 10px;
}

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  max-width: 1200px;
}

.faq__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 20px;
}

.faq__list-item {
  min-height: 8rem;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
  gap: 2rem;
  padding: 20px;
  border: 1px solid #ccc;
}



/*FOOTER*/
.footer {
  background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%);
  padding: 20px;
}

.footer__column {
  flex-grow: 1;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  color: white;
  margin: auto;
}